In [1]:
import pandas as pd
import seaborn as sns
from pprint import pprint
from IPython.display import display

# Data Exploration

In [2]:
dataset = pd.read_csv('Data/fuel-consumption-ratings-2023.csv',encoding='ISO-8859-1')#our dataset is record data(matrix)

In [3]:
print(dataset.keys())

Index(['Year', 'Make', 'Model', 'Vehicle Class', 'Engine Size (L)',
       'Cylinders', 'Transmission', 'Fuel Type', 'Fuel Consumption (L/100Km)',
       'Hwy (L/100 km)', 'Comb (L/100 km)', 'Comb (mpg)',
       'CO2 Emissions (g/km)', 'CO2 Rating', 'Smog Rating'],
      dtype='object')

In [4]:
dataset.head(5) 
#comb mpg contains same information as comb l/100km with different measurement units one can be extracted from other 
#we can do a check if the extraction was exact.
#we can check if what smog rating 1 vs 8 means

,Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
0,2023,Acura,Integra,Full-size,1.5,4.0,AV7,Z,7.9,6.3,7.2,39.0,167.0,6.0,7.0
1,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,AV7,Z,8.1,6.5,7.4,38.0,172.0,6.0,7.0
2,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,M6,Z,8.9,6.5,7.8,36.0,181.0,6.0,6.0
3,2023,Acura,MDX SH-AWD,SUV: Small,3.5,6.0,AS10,Z,12.6,9.4,11.2,25.0,263.0,4.0,5.0
4,2023,Acura,MDX SH-AWD Type S,SUV: Standard,3.0,6.0,AS10,Z,13.8,11.2,12.4,23.0,291.0,4.0,5.0

In [5]:
dataset.info() # our dataset dimensionality is 15 with 856 number of rows.
#year is not considered here as numerical we should explore further

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        841 non-null    object
 1   Make                        854 non-null    object
 2   Model                       833 non-null    object
 3   Vehicle Class               833 non-null    object
 4   Engine Size (L)             833 non-null    float64
 5   Cylinders                   833 non-null    float64
 6   Transmission                833 non-null    object
 7   Fuel Type                   833 non-null    object
 8   Fuel Consumption (L/100Km)  833 non-null    float64
 9   Hwy (L/100 km)              833 non-null    float64
 10  Comb (L/100 km)             833 non-null    float64
 11  Comb (mpg)                  833 non-null    float64
 12  CO2 Emissions (g/km)        833 non-null    float64
 13  CO2 Rating                  833 non-null    float64
 14  Smog Rating                 833 non-null    float64
dtypes: float64(9), object(6)
memory usage: 100.4+ KB

In [6]:
dataset.describe() 
#smog rating and co2 rating are categorical(ordinal) we can't extract std,mean etc.

,Engine Size (L),Cylinders,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
count,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000
mean,3.147899,5.627851,12.431453,9.353661,11.047179,27.375750,257.471789,4.522209,5.236495
std,1.353076,1.968695,3.456191,2.302312,2.878308,7.559968,64.262847,1.279385,1.665693
min,1.200000,3.000000,4.400000,4.400000,4.400000,11.000000,104.000000,1.000000,1.000000
25%,2.000000,4.000000,10.100000,7.700000,9.000000,22.000000,211.000000,4.000000,5.000000
50%,3.000000,6.000000,12.100000,9.100000,10.700000,26.000000,254.000000,5.000000,5.000000
75%,3.600000,6.000000,14.600000,10.700000,12.900000,31.000000,299.000000,5.000000,7.000000
max,8.000000,16.000000,30.300000,20.900000,26.100000,64.000000,608.000000,9.000000,8.000000

In [7]:
numerical_columns = ['Engine Size (L)', 'Cylinders', 'Fuel Consumption (L/100Km)',
                         'Hwy (L/100 km)', 'Comb (L/100 km)', 'Comb (mpg)',
                         'CO2 Emissions (g/km)']

subset_df = dataset[numerical_columns]
subset_df.describe()

,Engine Size (L),Cylinders,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km)
count,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000,833.000000
mean,3.147899,5.627851,12.431453,9.353661,11.047179,27.375750,257.471789
std,1.353076,1.968695,3.456191,2.302312,2.878308,7.559968,64.262847
min,1.200000,3.000000,4.400000,4.400000,4.400000,11.000000,104.000000
25%,2.000000,4.000000,10.100000,7.700000,9.000000,22.000000,211.000000
50%,3.000000,6.000000,12.100000,9.100000,10.700000,26.000000,254.000000
75%,3.600000,6.000000,14.600000,10.700000,12.900000,31.000000,299.000000
max,8.000000,16.000000,30.300000,20.900000,26.100000,64.000000,608.000000

In [8]:
dataset.duplicated().sum()

0

In [9]:
dataset.isnull().sum(axis = 0) # we have a small number of null values to handle

Year                          15
Make                           2
Model                         23
Vehicle Class                 23
Engine Size (L)               23
Cylinders                     23
Transmission                  23
Fuel Type                     23
Fuel Consumption (L/100Km)    23
Hwy (L/100 km)                23
Comb (L/100 km)               23
Comb (mpg)                    23
CO2 Emissions (g/km)          23
CO2 Rating                    23
Smog Rating                   23
dtype: int64

In [10]:
# filtered_rows = dataset[
#     (dataset['Smog Rating'].isnull()) |
#     (dataset['CO2 Rating'].isnull()) |
#     (dataset['CO2 Emissions (g/km)'].isnull()) |
#     (dataset['Comb (mpg)'].isnull()
#     (dataset['CO2 Emissions (g/km)'].isnull()
#     (dataset['CO2 Emissions (g/km)'].isnull()
#     (dataset['CO2 Emissions (g/km)'].isnull())
# ]

# display(filtered_rows.head())

In [11]:
dataset.describe(include=['object'])

        Year  Make    Model Vehicle Class Transmission Fuel Type
count    841   854      833           833          833       833
unique     9    60      657            14           23         4
top     2023  Ford  Mustang    SUV: Small          AS8         Z
freq     833    93        5           195          199       408

In [12]:
print(dataset['Year'].unique()) # we have noisy data in year column

['2023' nan 'Understanding the table' 'Model' 'Transmission' 'Fuel type'
 'Fuel consumption' 'CO2 emissions' 'CO2 rating' 'Smog rating']

In [13]:
def display_unique_values(df, column_name):
    pd.set_option('display.max_rows', None)

    value_counts = df[column_name].value_counts()

    unique_values_df = pd.DataFrame({
    'Unique_Values': value_counts.index,
    'Record_Count': value_counts.values
    })
    pd.reset_option('display.max_rows')

    print(unique_values_df)

In [14]:
display_unique_values(dataset,'Year')
#we dont have too much noisy data and we can choose to treat them as null or remove column entirely

             Unique_Values  Record_Count
0                     2023           833
1  Understanding the table             1
2                    Model             1
3             Transmission             1
4                Fuel type             1
5         Fuel consumption             1
6            CO2 emissions             1
7               CO2 rating             1
8              Smog rating             1

In [15]:
pprint(dataset['Vehicle Class'].unique()) #we don't see any unexpected values in this column

array(['Full-size', 'SUV: Small', 'SUV: Standard', 'Compact', 'Mid-size',
       'Minicompact', 'Two-seater', 'Subcompact', 'Station wagon: Small',
       'Station wagon: Mid-size', 'Pickup truck: Small',
       'Pickup truck: Standard', 'Minivan', 'Special purpose vehicle',
       nan], dtype=object)

In [16]:
display_unique_values(dataset,'Vehicle Class')

              Unique_Values  Record_Count
0                SUV: Small           195
1             SUV: Standard           135
2                  Mid-size           112
3    Pickup truck: Standard            97
4                Subcompact            75
5                   Compact            62
6                 Full-size            48
7                Two-seater            35
8               Minicompact            22
9       Pickup truck: Small            17
10     Station wagon: Small            14
11  Station wagon: Mid-size             9
12                  Minivan             7
13  Special purpose vehicle             5

In [17]:
print(dataset['Transmission'].unique())

['AV7' 'M6' 'AS10' 'A8' 'A9' 'AM7' 'AS8' 'AM8' 'AV' 'AS9' 'A10' 'A6' 'M7'
 'AV1' 'AM6' 'AS7' 'AV8' 'AV6' 'AS6' 'AV10' 'M5' 'AS5' 'A7' nan]

In [18]:
display_unique_values(dataset,'Transmission')

   Unique_Values  Record_Count
0            AS8           199
1             A8           105
2           AS10           102
3             A9            69
4            A10            59
5             M6            57
6            AM7            49
7             AV            40
8            AS6            27
9            AM8            24
10           AV8            23
11           AS9            22
12           AV6            10
13           AM6             9
14           AV7             9
15          AV10             7
16            M7             6
17           AS7             4
18           AV1             4
19            M5             3
20           AS5             2
21            A6             2
22            A7             1

In [19]:
print(dataset['Fuel Type'].unique())  #we should explore more on these labels meaning

['Z' 'X' 'D' 'E' nan]

In [20]:
display_unique_values(dataset,'Fuel Type')

  Unique_Values  Record_Count
0             Z           408
1             X           390
2             D            20
3             E            15

In [21]:
print(dataset['Make'].unique())
# we should study if some values are noisy 
#because they don't really indicate the purpose of the column

['Acura' 'Alfa Romeo' 'Aston Martin' 'Audi' 'Bentley' 'BMW' 'Bugatti'
 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler' 'Dodge' 'FIAT' 'Ford' 'Genesis'
 'GMC' 'Honda' 'Hyundai' 'Infiniti' 'Jaguar' 'Jeep' 'Kia' 'Lamborghini'
 'Land Rover' 'Lexus' 'Lincoln' 'Maserati' 'Mazda' 'Mercedes-Benz' 'MINI'
 'Mitsubishi' 'Nissan' 'Porsche' 'Ram' 'Rolls-Royce' 'Subaru' 'Toyota'
 'Volkswagen' 'Volvo' nan '4WD/4X4 = Four-wheel drive'
 'AWD = All-wheel drive' 'FFV = Flexible-fuel vehicle'
 'SWB = Short wheelbase' 'LWB = Long wheelbase' 'EWB = Extended wheelbase'
 'A = automatic' 'AM = automated manual'
 'AS = automatic with select shift' 'AV = continuously variable'
 'M = manual' '3 \x96 10 = Number of gears' 'X = regular gasoline'
 'Z = premium gasoline' 'D = diesel' 'E = ethanol (E85)' 'N = natural gas'
 'City and highway fuel consumption ratings are shown in litres per 100 kilometres (L/100 km) - the combined rating (55% city, 45% hwy) is shown in L/100 km and in miles per imperial gallon (mpg)'
 'the tailpipe emissions of carbon dioxide (in grams per kilometre) for combined city and highway driving'
 'the tailpipe emissions of carbon dioxide rated on a scale from 1 (worst) to 10 (best)'
 'the tailpipe emissions of smog-forming pollutants rated on a scale from 1 (worst) to 10 (best)']

In [22]:

display_unique_values(dataset,'Make')

                                        Unique_Values  Record_Count
0                                                Ford            93
1                                           Chevrolet            55
2                                       Mercedes-Benz            54
3                                                 BMW            51
4                                              Toyota            46
5                                                Audi            44
6                                                 GMC            36
7                                                Jeep            30
8                                              Nissan            27
9                                               Lexus            26
10                                           Cadillac            26
11                                               MINI            25
12                                                Kia            23
13                                            Hyundai            23
14                                              Dodge            23
15                                              Honda            22
16                                              Mazda            21
17                                         Land Rover            21
18                                         Volkswagen            19
19                                           Maserati            17
20                                             Subaru            17
21                                              Volvo            12
22                                             Jaguar            12
23                                                Ram            11
24                                              Acura            10
25                                            Bentley             9
26                                            Genesis             9
27                                            Lincoln             8
28                                         Alfa Romeo             7
29                                        Rolls-Royce             7
30                                         Mitsubishi             7
31                                           Chrysler             7
32                                       Aston Martin             7
33                                        Lamborghini             6
34                                           Infiniti             6
35                                              Buick             6
36                                            Porsche             6
37                                            Bugatti             3
38                                  E = ethanol (E85)             1
39                               X = regular gasoline             1
40                               Z = premium gasoline             1
41                                         D = diesel             1
42  the tailpipe emissions of carbon dioxide (in g...             1
43                                    N = natural gas             1
44  City and highway fuel consumption ratings are ...             1
45                                         M = manual             1
46  the tailpipe emissions of carbon dioxide rated...             1
47                           3  10 = Number of gears             1
48                                      A = automatic             1
49                         AV = continuously variable             1
50                   AS = automatic with select shift             1
51                              AM = automated manual             1
52                           EWB = Extended wheelbase             1
53                               LWB = Long wheelbase             1
54                              SWB = Short wheelbase             1
55                        FFV = Flexible-fuel vehicle             1
56                              AWD = All-wheel drive             1
57                         4WD/4X4 = Four-wheel drive             1
58                                               FIAT             1
59  the tailpipe emissions of smog-forming polluta...             1

In [23]:
print(dataset['Model'].unique())

['Integra' 'Integra A-SPEC' 'MDX SH-AWD' 'MDX SH-AWD Type S' 'RDX SH-AWD'
 'RDX SH-AWD A-SPEC' 'TLX SH-AWD' 'TLX SH-AWD A-SPEC' 'TLX Type S'
 'Giulia' 'Giulia AWD' 'Giulia Quadrifoglio' 'Stelvio' 'Stelvio AWD'
 'Stelvio AWD Quadrifoglio' 'Tonale AWD' 'DB11 V8' 'DB11 V12' 'DBS V12'
 'DBX V8' 'DBX707' 'Vantage V8' 'V12 Vantage' 'A3 40 TFSI quattro'
 'A4 Sedan 45 TFSI quattro' 'A4 allroad 45 TFSI quattro'
 'A5 Cabriolet 45 TFSI quattro' 'A5 Coupé 45 TFSI quattro'
 'A5 Sportback 45 TFSI quattro' 'A6 45 TFSI quattro' 'A6 55 TFSI quattro'
 'A6 allroad 55 TFSI quattro' 'A7 Sportback 55 TFSI quattro'
 'A8 L Sedan 55 TFSI quattro' 'Q3 40 TFSI quattro' 'Q3 45 TFSI quattro'
 'Q5 40 TFSI quattro' 'Q5 45 TFSI quattro' 'Q5 Sportback 45 TFSI quattro'
 'Q7 45 TFSI quattro' 'Q7 55 TFSI quattro' 'Q8 55 TFSI quattro'
 'R8 Coupé Performance' 'R8 Coupé Performance quattro'
 'R8 Spyder Performance' 'R8 Spyder Performance quattro' 'R8 GT Coupé'
 'RS 5 Coupé quattro' 'RS 5 Sportback quattro' 'RS 6 Avant quattro'
 'RS 7 Sportback quattro' 'RS Q8 quattro' 'S3 quattro' 'S4 Sedan quattro'
 'S5 Cabriolet quattro' 'S5 Coupé quattro' 'S5 Sportback quattro'
 'S6 quattro' 'S7 quattro' 'S8 Sedan quattro' 'SQ5 quattro'
 'SQ5 Sportback quattro' 'SQ7 quattro' 'SQ8 quattro'
 'TT Coupé 45 TFSI quattro' 'TT Roadster 45 TFSI quattro'
 'TTS Coupé quattro' 'Bentayga' 'Bentayga EWB' 'Bentayga Speed'
 'Continental GT' 'Continental GT Speed' 'Continental GTC'
 'Continental GTC Speed' 'Flying Spur' 'Flying Spur Speed'
 '230i xDrive Coupe' '330i xDrive Sedan' '430i xDrive Cabriolet'
 '430i xDrive Coupe' '530i xDrive Sedan' '540i xDrive Sedan'
 '760i xDrive Sedan' 'ALPINA B8 Gran Coupe' 'ALPINA XB7' 'M2 Coupe'
 'M240i xDrive Coupe' 'M3 Sedan' 'M3 Competition M xDrive Sedan'
 'M340i xDrive Sedan' 'M4 Competition M xDrive Cabriolet' 'M4 Coupe'
 'M4 Competition M xDrive Coupe' 'M4 CSL Coupe' 'M440i xDrive Cabriolet'
 'M440i xDrive Coupe' 'M5 Sedan' 'M5 Competition Sedan'
 'M550i xDrive Sedan' 'M8 Competition Cabriolet' 'M8 Competition Coupe'
 'M8 Competition Gran Coupe' 'M850i xDrive Cabriolet' 'M850i xDrive Coupe'
 'M850i xDrive Gran Coupe' 'X1 xDrive28i' 'X3 xDrive30i' 'X3 M'
 'X3 M Competition' 'X3 M40i' 'X4 xDrive30i' 'X4 M' 'X4 M Competition'
 'X4 M40i' 'X5 xDrive40i' 'X5 M' 'X5 M Competition' 'X5 M50i'
 'X6 xDrive40i' 'X6 M' 'X6 M Competition' 'X6 M50i' 'X7 xDrive40i'
 'X7 M60i xDrive' 'Z4 sDrive30i' 'Z4 M40i' 'Chiron' 'Chiron Pur Sport'
 'Chiron Super Sport' 'Enclave AWD' 'Encore GX' 'Encore GX AWD' 'Envision'
 'Envision AWD' 'CT4' 'CT4 AWD' 'CT4-V' 'CT4-V AWD' 'CT4-V Blackwing'
 'CT5' 'CT5 AWD' 'CT5-V' 'CT5-V AWD' 'CT5-V Blackwing' 'Escalade 4WD'
 'Escalade-V AWD' 'XT4' 'XT4 AWD' 'XT5' 'XT5 AWD' 'XT6 AWD' 'Blazer'
 'Blazer AWD' 'Camaro' 'Camaro SS' 'Camaro ZL1' 'Colorado'
 'Colorado (Turbo Plus)' 'Colorado 4WD' 'Colorado 4WD (Turbo Plus)'
 'Colorado 4WD Mud Terrain Tire (Turbo Plus)' 'Colorado ZR2 4WD'
 'Corvette' 'Corvette Z06' 'Corvette Z06 Carbon Aero' 'Equinox'
 'Equinox AWD' 'Malibu' 'Silverado' 'Silverado FFV' 'Silverado 4WD'
 'Silverado 4WD Mud Terrain Tire' 'Silverado 4WD FFV'
 'Silverado 4WD Mud Terrain Tire FFV' 'Silverado 4WD ZR2' 'Suburban'
 'Suburban 4WD' 'Tahoe' 'Tahoe 4WD' 'Trailblazer' 'Trailblazer AWD'
 'Traverse AWD' '300' '300 AWD' '300C' 'Grand Caravan' 'Pacifica'
 'Pacifica AWD' 'Challenger' 'Challenger (MDS)' 'Challenger AWD'
 'Challenger Widebody (MDS)' 'Challenger Widebody'
 'Challenger SRT Hellcat' 'Challenger SRT Hellcat Widebody' 'Charger'
 'Charger (MDS)' 'Charger AWD' 'Charger Widebody (MDS)'
 'Charger SRT Hellcat Widebody' 'Durango AWD' 'Durango AWD SRT'
 'Durango AWD SRT Hellcat' 'Hornet AWD' '500X AWD' 'Bronco 4WD'
 'Bronco Badlands 4WD' 'Bronco Black Diamond 4WD' 'Bronco Raptor 4WD'
 'Bronco Sasquatch 4WD' 'Bronco Sport 4WD' 'Edge AWD' 'Escape'
 'Escape AWD' 'Escape Hybrid' 'Escape Hybrid AWD' 'Expedition 4X4'
 'Expedition 4X4 (Without Stop-Start)' 'Expedition Timberline 4X4'
 'Expedition Timberline 4X4 (Without Stop-Start)' 'Explorer AWD'
 'Explorer AWD (Without Stop-Start)' 'Explorer Timberline AWD'
 'Explorer Timberline AWD (Without Stop-Start)' 'Explorer Hybrid AWD'
 'F-150' 'F-150 (Without Stop-Start)' 'F-150 FFV'
 'F-150 FFV (Without Stop-Start)' 'F-150 4X4'
 'F-150 4X4 (Without Stop-Start)' 'F-150 4X4 FFV'
 'F-150 4X4 FFV (Without Stop-Start)' 'F-150 Raptor 4X4'
 'F-150 Raptor 4X4 (Without Stop-Start)' 'F-150 Raptor 37 4X4'
 'F-150 Raptor 37 4X4 (Without Stop-Start)' 'F-150 Raptor R 4X4'
 'F-150 Tremor 4X4' 'F-150 Tremor 4X4 (Without Stop-Start)'
 'F-150 Tremor 4X4 FFV' 'F-150 Tremor 4X4 FFV (Without Stop-Start)'
 'F-150 Hybrid' 'F-150 Hybrid 4X4' 'Maverick AWD' 'Maverick Tremor AWD'
 'Maverick Hybrid' 'Mustang' 'Mustang (High Performance)'
 'Mustang Convertible' 'Mustang Convertible (High Performance)'
 'Mustang Mach 1' 'Ranger 4WD' 'Ranger 4WD (Without Stop-Start)'
 'Ranger Tremor 4WD' 'Transit Connect Van' 'Transit Connect Wagon LWB'
 'G70 AWD' 'G80 AWD' 'G90' 'GV70 AWD' 'GV80 AWD' 'Acadia AWD' 'Canyon'
 'Canyon 4WD' 'Canyon 4WD Mud Terrain Tire' 'Canyon AT4X 4WD' 'Sierra'
 'Sierra FFV' 'Sierra 4WD' 'Sierra 4WD Mud Terrain Tire' 'Sierra 4WD FFV'
 'Sierra 4WD Mud Terrain Tire FFV' 'Sierra 4WD AT4X' 'Terrain'
 'Terrain AWD' 'Yukon' 'Yukon 4WD' 'Yukon XL' 'Yukon XL 4WD' 'Accord'
 'Accord Hybrid Sport/Touring' 'Civic Hatchback' 'Civic Sedan'
 'Civic Sedan Si' 'Civic Type R' 'CR-V' 'CR-V AWD' 'CR-V Hybrid AWD'
 'HR-V' 'HR-V AWD' 'Odyssey' 'Passport AWD' 'Pilot AWD'
 'Pilot AWD Touring/Elite/Black' 'Pilot AWD TrailSport' 'Ridgeline AWD'
 'Elantra' 'Elantra (ISG)' 'Elantra N' 'Elantra Hybrid' 'Kona' 'Kona N'
 'Kona AWD' 'Palisade AWD' 'Santa Cruz AWD' 'Santa Fe AWD'
 'Santa Fe Hybrid' 'Sonata' 'Sonata Hybrid' 'Tucson' 'Tucson AWD'
 'Tucson Hybrid' 'Venue' 'Q50 AWD' 'Q50 AWD Red Sport' 'QX50 AWD'
 'QX55 AWD' 'QX60 AWD' 'QX80 4WD' 'E-PACE P250' 'F-PACE P250'
 'F-PACE P400' 'F-PACE P550 SVR' 'F-TYPE P450 Convertible'
 'F-TYPE P450 Convertible AWD' 'F-TYPE P450 Coupe' 'F-TYPE P450 Coupe AWD'
 'F-TYPE R Convertible AWD' 'F-TYPE R Coupe AWD' 'XF P250' 'XF P300 AWD'
 'Cherokee 4X4 Active Drive I' 'Cherokee 4X4 Trailhawk Active Drive Lock'
 'Compass 4X4' 'Gladiator 4X4 EcoDiesel' 'Gladiator 4X4 Rubicon EcoDiesel'
 'Gladiator 4X4' 'Grand Cherokee 4X4' 'Grand Cherokee L 4X4'
 'Grand Wagoneer 4X4 (High Output)' 'Grand Wagoneer 4X4'
 'Grand Wagoneer L 4X4 (High Output)' 'Renegade 4X4'
 'Renegade 4X4 Trailhawk' 'Wagoneer 4X4' 'Wagoneer L 4X4'
 'Wrangler JL 4X4' 'Wrangler JL 4X4 eTorque' 'Wrangler JL Unlimited 4X4'
 'Wrangler JL Unlimited 4X4 EcoDiesel'
 'Wrangler JL Unlimited 4X4 Rubicon EcoDiesel'
 'Wrangler JL Unlimited 4X4 eTorque' 'Wrangler JL Unlimited 4X4 392'
 'Carnival' 'Forte' 'Forte 5' 'K5' 'K5 AWD' 'Niro' 'Niro FE' 'Rio'
 'Seltos' 'Seltos AWD' 'Sorento AWD' 'Sorento Hybrid AWD' 'Soul'
 'Sportage' 'Sportage AWD' 'Sportage Hybrid AWD' 'Stinger AWD'
 'Telluride AWD' 'Huracán EVO Coupe' 'Huracán EVO Coupe AWD'
 'Huracán EVO Spyder' 'Huracán EVO Spyder AWD' 'Urus Performante' 'Urus S'
 'Defender 90 P300' 'Defender 90 P400' 'Defender 90 5.0L V8'
 'Defender 110 P300' 'Defender 110 P400' 'Defender 110 5.0L V8'
 'Discovery P300' 'Discovery P360' 'Discovery Sport P250'
 'Range Rover P400' 'Range Rover P400 LWB' 'Range Rover P530'
 'Range Rover P530 LWB' 'Range Rover Sport P360'
 'Range Rover Sport HST P400' 'Range Rover Sport P530'
 'Range Rover Evoque P250' 'Range Rover Evoque P300'
 'Range Rover Velar P250' 'Range Rover Velar P340'
 'Range Rover Velar P400' 'ES 250 AWD' 'ES 300h' 'ES 350' 'ES 350 F SPORT'
 'GX 460' 'IS 300' 'IS 300 AWD' 'IS 350 AWD' 'IS 500' 'LC 500'
 'LC 500 Convertible' 'LC 500h' 'LS 500 AWD' 'LS 500h AWD' 'LX 600'
 'NX 250 AWD' 'NX 350 AWD' 'NX 350 AWD F SPORT' 'NX 350h AWD' 'RC 300 AWD'
 'RC 350 AWD' 'RC F' 'RX 350 AWD' 'RX 350h AWD' 'RX 500h AWD'
 'UX 250h AWD' 'Aviator AWD' 'Aviator AWD (Without Stop-Start)'
 'Corsair AWD' 'Nautilus AWD' 'Navigator 4X4'
 'Navigator 4X4 (Without Stop-Start)' 'Ghibli GT' 'Ghibli Modena'
 'Ghibli Modena AWD' 'Ghibli Trofeo' 'Grecale GT' 'Grecale Modena'
 'Grecale Trofeo' 'Levante GT' 'Levante Modena' 'Levante Modena V8'
 'Levante Trofeo' 'MC20' 'MC20 Spyder' 'Quattroporte GT'
 'Quattroporte Modena' 'Quattroporte Modena AWD' 'Quattroporte Trofeo'
 'CX-30 4WD' 'CX-30 Turbo 4WD' 'CX-5 4WD' 'CX-5 Turbo 4WD' 'CX-50 4WD'
 'CX-50 Turbo 4WD' 'CX-9 4WD' 'Mazda3 4-Door' 'Mazda3 4-Door (SIL)'
 'Mazda3 4-Door 4WD' 'Mazda3 4-Door Turbo 4WD' 'Mazda3 5-Door'
 'Mazda3 5-Door (SIL)' 'Mazda3 5-Door 4WD' 'Mazda3 5-Door Turbo 4WD'
 'MX-5' 'MX-5 (SIL)' 'AMG C 43 4MATIC Cabriolet' 'AMG C 43 4MATIC Coupe'
 'AMG C 43 4MATIC Sedan' 'AMG CLA 35 4MATIC Coupe'
 'AMG CLA 45 4MATIC Coupe' 'AMG CLS 53 4MATIC+ Coupe'
 'AMG E 53 4MATIC+ Sedan' 'AMG E 53 4MATIC+ Cabriolet'
 'AMG E 53 4MATIC+ Coupe' 'AMG E 63 4MATIC+ All-Terrain Wagon'
 'AMG E 63 S 4MATIC+ Sedan' 'AMG G 63 SUV' 'AMG G 63 4x4 Squared SUV'
 'AMG GLA 35 4MATIC SUV' 'AMG GLA 45 4MATIC SUV' 'AMG GLB 35 4MATIC SUV'
 'AMG GLC 43 4MATIC Coupe' 'AMG GLE 53 4MATIC+ SUV'
 'AMG GLE 53 4MATIC+ Coupe' 'AMG GLE 63 S 4MATIC+ SUV'
 'AMG GLE 63 S 4MATIC+ Coupe' 'AMG GLS 63 4MATIC+ SUV'
 'AMG GT 53 4MATIC+ Coupe' 'AMG GT 63 4MATIC+ Coupe'
 'AMG GT 63 S 4MATIC+ Coupe' 'AMG SL 63 4MATIC+ Roadster'
 'C 300 4MATIC Cabriolet' 'C 300 4MATIC Coupe' 'C 300 4MATIC Sedan'
 'CLA 250 4MATIC Coupe' 'CLS 450 4MATIC Coupe' 'E 350 4MATIC Sedan'
 'E 450 4MATIC Cabriolet' 'E 450 4MATIC Coupe' 'E 450 4MATIC Sedan'
 'E 450 4MATIC All-Terrain Wagon' 'G 550 SUV' 'GLA 250 4MATIC SUV'
 'GLB 250 4MATIC SUV' 'GLC 300 4MATIC SUV' 'GLC 300 4MATIC Coupe'
 'GLE 350 4MATIC SUV' 'GLE 450 4MATIC SUV' 'GLE 450 4MATIC Coupe'
 'GLS 450 4MATIC SUV' 'GLS 580 4MATIC SUV' 'GLS 600 4MATIC Maybach SUV'
 'Maybach S 580 4MATIC Sedan' 'Maybach S 680 4MATIC Sedan'
 'Metris Cargo Van' 'Metris Cargo Van LWB' 'Metris Passenger Van'
 'S 500 4MATIC Sedan' 'S 580 4MATIC Sedan' 'Cooper 3 Door' 'Cooper 5 Door'
 'Cooper Clubman ALL4' 'Cooper Convertible' 'Cooper Countryman'
 'Cooper Countryman ALL4' 'Cooper S 3 Door' 'Cooper S 5 Door'
 'Cooper S Clubman' 'Cooper S Clubman ALL4' 'Cooper S Convertible'
 'Cooper S Countryman' 'Cooper S Countryman ALL4'
 'John Cooper Works 3 Door' 'John Cooper Works Clubman ALL4'
 'John Cooper Works Convertible' 'John Cooper Works Countryman ALL4'
 'Eclipse Cross 4WD' 'Mirage' 'Outlander 4WD' 'RVR' 'RVR 4WD' 'Altima AWD'
 'Altima AWD SR/Platinum' 'Armada 4WD' 'Frontier' 'Frontier 4WD'
 'Frontier 4WD Pro-4X' 'GT-R' 'Kicks' 'Maxima' 'Murano AWD'
 'Pathfinder 4WD' 'Pathfinder 4WD Rock Creek' 'Qashqai' 'Qashqai AWD'
 'Rogue' 'Rogue AWD' 'Rogue AWD SL/Platinum' 'Sentra' 'Sentra SR' 'Versa'
 'Z' '911 Carrera' '911 Carrera Cabriolet' '911 Carrera S'
 '911 Carrera S Cabriolet' '1500 eTorque' '1500 4X4 EcoDiesel'
 '1500 4X4 eTorque' '1500 4X4' '1500 4X4 TRX' '1500 Classic'
 '1500 Classic 4X4' 'Cullinan' 'Cullinan Black Badge' 'Ghost'
 'Ghost Black Badge' 'Ghost Extended' 'Phantom' 'Phantom Extended'
 'Ascent AWD' 'BRZ' 'Crosstrek AWD' 'Forester AWD'
 'Forester Wilderness AWD' 'Impreza 5-Door AWD' 'Legacy AWD' 'Outback AWD'
 'Outback Wilderness AWD' 'WRX AWD' '4Runner 4WD'
 '4Runner 4WD (Part-Time 4WD)' 'Camry SE' 'Camry XSE V6/TRD'
 'Camry AWD SE' 'Camry AWD XSE' 'Camry Hybrid LE'
 'Camry Hybrid SE/XLE/XSE' 'Corolla (1-mode)' 'Corolla (3-mode)'
 'Corolla Hatchback' 'Corolla Hybrid' 'Corolla Hybrid AWD (2-mode)'
 'Corolla Hybrid AWD (3-mode)' 'Corolla Cross' 'Corolla Cross AWD'
 'Corolla Cross Hybrid AWD' 'Crown AWD' 'GR Corolla' 'GR Supra 2.0'
 'GR Supra 3.0' 'GR86' 'Highlander AWD' 'Highlander Hybrid AWD'
 'Highlander Hybrid AWD Limited/Platinum' 'Prius AWD' 'RAV4' 'RAV4 AWD'
 'RAV4 AWD (Stop/Start)' 'RAV4 AWD LE' 'RAV4 Hybrid AWD' 'Sequoia 4WD'
 'Sienna' 'Sienna AWD' 'Tacoma 4WD' 'Tacoma 4WD D-Cab TRD Off-Road/PRO'
 'Tundra' 'Tundra 4WD' 'Tundra 4WD TRD' 'Tundra Hybrid 4WD'
 'Tundra Hybrid 4WD TRD PRO' 'Venza AWD' 'Atlas' 'Atlas 4MOTION'
 'Atlas Cross Sport' 'Atlas Cross Sport 4MOTION' 'Golf GTI' 'Golf R'
 'Jetta' 'Jetta Comfortline/Highline' 'Jetta GLI' 'Taos' 'Taos 4MOTION'
 'Tiguan 4MOTION' 'Tiguan R-Line 4MOTION' 'S60 B5' 'S60 B5 AWD'
 'S90 B6 AWD' 'V60 B6 AWD' 'V60 CC B5 AWD' 'V90 CC B6 AWD' 'XC40 B4 AWD'
 'XC40 B5 AWD' 'XC60 B5 AWD' 'XC60 B6 AWD' 'XC90 B5 AWD' 'XC90 B6 AWD' nan]

In [24]:
display_unique_values(dataset,'Model')

                                    Unique_Values  Record_Count
0                                         Mustang             5
1                  F-150 FFV (Without Stop-Start)             4
2                                 Civic Hatchback             4
3                     Sierra 4WD Mud Terrain Tire             4
4                                       F-150 FFV             4
..                                            ...           ...
652                    F-150 (Without Stop-Start)             1
653                           Explorer Hybrid AWD             1
654  Explorer Timberline AWD (Without Stop-Start)             1
655                       Explorer Timberline AWD             1
656                                   XC90 B6 AWD             1

[657 rows x 2 columns]

In [25]:
make_noise_data = [
    '4WD/4X4 = Four-wheel drive',
    'AWD = All-wheel drive',
    'FFV = Flexible-fuel vehicle',
    'SWB = Short wheelbase',
    'LWB = Long wheelbase',
    'EWB = Extended wheelbase',
    'A = automatic',
    'AM = automated manual',
    'AS = automatic with select shift',
    'AV = continuously variable',
    'M = manual',
    '3 – 10 = Number of gears',
    'X = regular gasoline',
    'Z = premium gasoline',
    'D = diesel',
    'E = ethanol (E85)',
    'N = natural gas',
    '3  10 = Number of gears'
    'City and highway fuel consumption ratings are shown in litres per 100 kilometres (L/100 km) - the combined rating (55% city, 45% hwy) is shown in L/100 km and in miles per imperial gallon (mpg)',
    'the tailpipe emissions of carbon dioxide (in grams per kilometre) for combined city and highway driving',
    'the tailpipe emissions of carbon dioxide rated on a scale from 1 (worst) to 10 (best)',
    'the tailpipe emissions of smog-forming pollutants rated on a scale from 1 (worst) to 10 (best)'
]

# Filter rows where 'Make' is in noise_data
filtered_rows = dataset[dataset['Make'].isin(make_noise_data)]
filtered_rows.isnull().sum(axis = 0) 

filtered_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 835 to 855
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        6 non-null      object
 1   Make                        19 non-null     object
 2   Model                       0 non-null      object
 3   Vehicle Class               0 non-null      object
 4   Engine Size (L)             0 non-null      float64
 5   Cylinders                   0 non-null      float64
 6   Transmission                0 non-null      object
 7   Fuel Type                   0 non-null      object
 8   Fuel Consumption (L/100Km)  0 non-null      float64
 9   Hwy (L/100 km)              0 non-null      float64
 10  Comb (L/100 km)             0 non-null      float64
 11  Comb (mpg)                  0 non-null      float64
 12  CO2 Emissions (g/km)        0 non-null      float64
 13  CO2 Rating                  0 non-null      float64
 14  Smog Rating                 0 non-null      float64
dtypes: float64(9), object(6)
memory usage: 2.4+ KB

In [26]:
display(filtered_rows)

,Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
835,Model,4WD/4X4 = Four-wheel drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,NaN,AWD = All-wheel drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
837,NaN,FFV = Flexible-fuel vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,NaN,SWB = Short wheelbase,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839,NaN,LWB = Long wheelbase,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,NaN,EWB = Extended wheelbase,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,Transmission,A = automatic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,NaN,AM = automated manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,AS = automatic with select shift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844,NaN,AV = continuously variable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
845,NaN,M = manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
847,Fuel type,X = regular gasoline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848,NaN,Z = premium gasoline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
849,NaN,D = diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,NaN,E = ethanol (E85),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,NaN,N = natural gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,CO2 emissions,the tailpipe emissions of carbon dioxide (in g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,CO2 rating,the tailpipe emissions of carbon dioxide rated...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,Smog rating,the tailpipe emissions of smog-forming polluta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
filtered_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 835 to 855
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        6 non-null      object
 1   Make                        19 non-null     object
 2   Model                       0 non-null      object
 3   Vehicle Class               0 non-null      object
 4   Engine Size (L)             0 non-null      float64
 5   Cylinders                   0 non-null      float64
 6   Transmission                0 non-null      object
 7   Fuel Type                   0 non-null      object
 8   Fuel Consumption (L/100Km)  0 non-null      float64
 9   Hwy (L/100 km)              0 non-null      float64
 10  Comb (L/100 km)             0 non-null      float64
 11  Comb (mpg)                  0 non-null      float64
 12  CO2 Emissions (g/km)        0 non-null      float64
 13  CO2 Rating                  0 non-null      float64
 14  Smog Rating                 0 non-null      float64
dtypes: float64(9), object(6)
memory usage: 2.4+ KB

In [28]:
year_noise_data = [
    'Understanding the table' ,'Model', 'Transmission' ,'Fuel type'
 'Fuel consumption' ,'CO2 emissions' ,'CO2 rating', 'Smog rating'
]

# Filter rows where 'Year' is in noise_data
filtered_rows = dataset[dataset['Year'].isin(year_noise_data)]

filtered_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 834 to 855
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        6 non-null      object
 1   Make                        5 non-null      object
 2   Model                       0 non-null      object
 3   Vehicle Class               0 non-null      object
 4   Engine Size (L)             0 non-null      float64
 5   Cylinders                   0 non-null      float64
 6   Transmission                0 non-null      object
 7   Fuel Type                   0 non-null      object
 8   Fuel Consumption (L/100Km)  0 non-null      float64
 9   Hwy (L/100 km)              0 non-null      float64
 10  Comb (L/100 km)             0 non-null      float64
 11  Comb (mpg)                  0 non-null      float64
 12  CO2 Emissions (g/km)        0 non-null      float64
 13  CO2 Rating                  0 non-null      float64
 14  Smog Rating                 0 non-null      float64
dtypes: float64(9), object(6)
memory usage: 768.0+ bytes

In [29]:
display(filtered_rows)

,Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
834,Understanding the table,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
835,Model,4WD/4X4 = Four-wheel drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,Transmission,A = automatic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,CO2 emissions,the tailpipe emissions of carbon dioxide (in g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,CO2 rating,the tailpipe emissions of carbon dioxide rated...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,Smog rating,the tailpipe emissions of smog-forming polluta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
filtered_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 834 to 855
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        6 non-null      object
 1   Make                        5 non-null      object
 2   Model                       0 non-null      object
 3   Vehicle Class               0 non-null      object
 4   Engine Size (L)             0 non-null      float64
 5   Cylinders                   0 non-null      float64
 6   Transmission                0 non-null      object
 7   Fuel Type                   0 non-null      object
 8   Fuel Consumption (L/100Km)  0 non-null      float64
 9   Hwy (L/100 km)              0 non-null      float64
 10  Comb (L/100 km)             0 non-null      float64
 11  Comb (mpg)                  0 non-null      float64
 12  CO2 Emissions (g/km)        0 non-null      float64
 13  CO2 Rating                  0 non-null      float64
 14  Smog Rating                 0 non-null      float64
dtypes: float64(9), object(6)
memory usage: 768.0+ bytes

In [31]:
filtered_rows.isnull().sum(axis = 0)

Year                          0
Make                          1
Model                         6
Vehicle Class                 6
Engine Size (L)               6
Cylinders                     6
Transmission                  6
Fuel Type                     6
Fuel Consumption (L/100Km)    6
Hwy (L/100 km)                6
Comb (L/100 km)               6
Comb (mpg)                    6
CO2 Emissions (g/km)          6
CO2 Rating                    6
Smog Rating                   6
dtype: int64

In [32]:
filtered_rows = dataset[dataset['Year'].isin(year_noise_data) & dataset['Make'].isin(make_noise_data)]
display(filtered_rows)

,Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
835,Model,4WD/4X4 = Four-wheel drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,Transmission,A = automatic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,CO2 emissions,the tailpipe emissions of carbon dioxide (in g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,CO2 rating,the tailpipe emissions of carbon dioxide rated...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,Smog rating,the tailpipe emissions of smog-forming polluta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dataset = dataset.drop(dataset[dataset['Year'].isin(year_noise_data) & dataset['Make'].isin(make_noise_data)].index)

In [34]:
dataset.isnull().sum(axis = 0)

Year                          15
Make                           2
Model                         18
Vehicle Class                 18
Engine Size (L)               18
Cylinders                     18
Transmission                  18
Fuel Type                     18
Fuel Consumption (L/100Km)    18
Hwy (L/100 km)                18
Comb (L/100 km)               18
Comb (mpg)                    18
CO2 Emissions (g/km)          18
CO2 Rating                    18
Smog Rating                   18
dtype: int64

In [35]:
dataset = dataset.drop(dataset[dataset['Year'].isin(year_noise_data)].index)

In [36]:
dataset = dataset.drop(
    dataset[(dataset['Make'].isin(make_noise_data)) |
            dataset['Make'].str.contains('City and highway fuel consumption', case=False, na=False) |
            dataset['Make'].str.contains('Number of gears', case=False, na=False)].index
)

In [37]:
dataset.isnull().sum(axis = 0)

Year                          1
Make                          1
Model                         1
Vehicle Class                 1
Engine Size (L)               1
Cylinders                     1
Transmission                  1
Fuel Type                     1
Fuel Consumption (L/100Km)    1
Hwy (L/100 km)                1
Comb (L/100 km)               1
Comb (mpg)                    1
CO2 Emissions (g/km)          1
CO2 Rating                    1
Smog Rating                   1
dtype: int64

In [38]:
filtered_rows = dataset[dataset['Make'].isnull()]

display(filtered_rows)

,Year,Make,Model,Vehicle Class,Engine Size (L),Cylinders,Transmission,Fuel Type,Fuel Consumption (L/100Km),Hwy (L/100 km),Comb (L/100 km),Comb (mpg),CO2 Emissions (g/km),CO2 Rating,Smog Rating
833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
dataset = dataset.drop(dataset[dataset['Year'].isnull()].index)

In [40]:
#handling null values example
#dataset['CO2 Emissions (g/km)'].fillna('mean', inplace=True)
#dataset['Fuel Type'].fillna(dataset['Fuel Type'].mode()[0], inplace=True)

In [41]:
dataset.isnull().sum(axis = 0)  #null values after data cleaning

Year                          0
Make                          0
Model                         0
Vehicle Class                 0
Engine Size (L)               0
Cylinders                     0
Transmission                  0
Fuel Type                     0
Fuel Consumption (L/100Km)    0
Hwy (L/100 km)                0
Comb (L/100 km)               0
Comb (mpg)                    0
CO2 Emissions (g/km)          0
CO2 Rating                    0
Smog Rating                   0
dtype: int64

In [42]:
columns_to_exclude = ['Year', 'Comb (mpg)']

dataset = dataset.reindex(columns=[col for col in dataset.columns if col not in columns_to_exclude])

In [43]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 833 entries, 0 to 832
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Make                        833 non-null    object
 1   Model                       833 non-null    object
 2   Vehicle Class               833 non-null    object
 3   Engine Size (L)             833 non-null    float64
 4   Cylinders                   833 non-null    float64
 5   Transmission                833 non-null    object
 6   Fuel Type                   833 non-null    object
 7   Fuel Consumption (L/100Km)  833 non-null    float64
 8   Hwy (L/100 km)              833 non-null    float64
 9   Comb (L/100 km)             833 non-null    float64
 10  CO2 Emissions (g/km)        833 non-null    float64
 11  CO2 Rating                  833 non-null    float64
 12  Smog Rating                 833 non-null    float64
dtypes: float64(8), object(5)
memory usage: 91.1+ KB

In [44]:
combined_aggregation = dataset.groupby('Make').agg({
    'Fuel Consumption (L/100Km)': ['mean', 'min', 'max'],  
})

combined_aggregation = combined_aggregation.sort_values(by=('Fuel Consumption (L/100Km)', 'mean'), ascending=False)

display(combined_aggregation)

              Fuel Consumption (L/100Km)
                                    mean   min   max
Make
Bugatti                        29.133333  26.8  30.3
Rolls-Royce                    20.042857  19.9  20.2
Lamborghini                    17.600000  16.6  18.2
Bentley                        17.533333  15.3  20.3
Dodge                          15.804348  11.2  20.5
Aston Martin                   15.514286  13.0  17.2
Maserati                       14.652941  10.6  17.4
Ram                            14.590909  11.1  22.4
GMC                            14.230556   9.7  21.3
Chevrolet                      13.854545   8.0  21.3
Chrysler                       13.528571  12.4  15.9
Ford                           13.509677   5.6  22.8
BMW                            13.417647   9.4  17.9
Jeep                           13.293333   9.9  18.6
Lincoln                        13.287500  11.2  15.7
Mercedes-Benz                  13.283333   9.8  23.5
Land Rover                     13.261905  11.3  16.4
Jaguar                         13.225000   9.4  15.4
Porsche                        13.100000  12.8  13.8
Cadillac                       12.946154  10.2  21.6
Infiniti                       12.600000  10.4  17.5
Audi                           12.500000   8.7  17.7
Genesis                        12.433333  10.7  14.8
Alfa Romeo                     11.457143  10.0  13.9
Lexus                          11.050000   5.5  16.2
Acura                          10.840000   7.9  13.8
Nissan                         10.392593   7.4  17.5
Volvo                          10.333333   9.0  11.9
Volkswagen                     10.289474   7.7  13.4
Subaru                         10.276471   8.4  12.7
FIAT                           10.000000  10.0  10.0
Buick                           9.916667   8.0  13.6
MINI                            9.436000   8.2  10.9
Mazda                           9.423810   8.4  11.6
Honda                           9.390909   5.0  13.0
Toyota                          9.228261   4.4  14.9
Hyundai                         9.056522   4.8  12.6
Mitsubishi                      9.000000   6.6  10.3
Kia                             8.878261   4.5  13.7

In [45]:
combined_aggregation = dataset.groupby('Make').agg({
    'CO2 Emissions (g/km)': ['mean', 'min', 'max'],  
})

combined_aggregation = combined_aggregation.sort_values(by=('CO2 Emissions (g/km)', 'mean'), ascending=False)

display(combined_aggregation)

              CO2 Emissions (g/km)
                              mean    min    max
Make
Bugatti                 579.333333  522.0  608.0
Rolls-Royce             390.857143  388.0  397.0
Lamborghini             361.000000  345.0  370.0
Bentley                 347.444444  307.0  395.0
Aston Martin            314.000000  270.0  343.0
Dodge                   310.173913  231.0  410.0
Ram                     303.909091  253.0  465.0
GMC                     301.888889  211.0  364.0
Maserati                292.941176  218.0  349.0
Chevrolet               289.381818  180.0  392.0
Jeep                    281.833333  205.0  387.0
Land Rover              279.952381  244.0  350.0
Ford                    276.462366  140.0  460.0
Mercedes-Benz           274.555556  200.0  508.0
Lincoln                 274.250000  232.0  320.0
BMW                     273.392157  194.0  364.0
Porsche                 272.666667  264.0  275.0
Jaguar                  268.916667  197.0  316.0
Chrysler                267.571429  242.0  307.0
Cadillac                265.192308  206.0  436.0
Infiniti                261.833333  222.0  355.0
Genesis                 259.666667  225.0  298.0
Audi                    255.977273  183.0  361.0
Alfa Romeo              236.571429  205.0  288.0
Lexus                   229.230769  124.0  337.0
Acura                   226.500000  167.0  291.0
FIAT                    221.000000  221.0  221.0
Nissan                  218.074074  158.0  362.0
Subaru                  215.764706  178.0  262.0
Volvo                   215.500000  186.0  249.0
Volkswagen              215.368421  159.0  279.0
Buick                   213.500000  184.0  277.0
Toyota                  200.304348  110.0  323.0
Honda                   199.409091  124.0  275.0
Mazda                   198.047619  178.0  245.0
Hyundai                 193.869565  110.0  263.0
Mitsubishi              193.714286  143.0  218.0
MINI                    193.600000  170.0  217.0
Kia                     192.434783  104.0  280.0

In [46]:
combined_aggregation = dataset.groupby('Fuel Type').agg({
    'CO2 Emissions (g/km)': ['mean', 'min', 'max'],  
})

combined_aggregation = combined_aggregation.sort_values(by=('CO2 Emissions (g/km)', 'mean'), ascending=False)

display(combined_aggregation)

          CO2 Emissions (g/km)
                          mean    min    max
Fuel Type
E                   287.200000  244.0  318.0
Z                   274.825980  139.0  608.0
D                   270.400000  247.0  288.0
X                   237.510256  104.0  460.0

In [47]:
combined_aggregation = dataset.groupby('Fuel Type').agg({
    'Fuel Consumption (L/100Km)': ['mean', 'min', 'max'],  
})

combined_aggregation = combined_aggregation.sort_values(by=('Fuel Consumption (L/100Km)', 'mean'), ascending=False)

display(combined_aggregation)

          Fuel Consumption (L/100Km)
                                mean   min   max
Fuel Type
E                          19.746667  16.8  21.3
Z                          13.443873   5.7  30.3
X                          11.160769   4.4  22.8
D                          11.070000  10.0  11.7

In [48]:
# dataset['Avg Fuel Consumption (L/100km)'] = (dataset['Fuel Consumption (L/100Km)'] + dataset['Hwy (L/100 km)']) / 2
# print(dataset[['Fuel Consumption (L/100Km)', 'Hwy (L/100 km)', 'Avg Fuel Consumption (L/100km)']].head())

In [49]:
# dataset.drop(['Hwy (L/100 km)'], axis=1, inplace=True)
# print(dataset.columns)

In [50]:
# bins = [0, 1.5, 3.0, 4.5, 6.0, 8.0]
# labels = ['Very Small', 'Small', 'Medium', 'Large', 'Very Large']
# dataset['Engine Size Category'] = pd.cut(dataset['Engine Size (L)'], bins=bins, labels=labels)
# print(dataset['Engine Size Category'].value_counts())

In [51]:
# vehicle_class_dummies = pd.get_dummies(dataset['Vehicle Class'], prefix='Class')
# dataset = pd.concat([dataset, vehicle_class_dummies], axis=1)
# print(dataset.head())

In [52]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# dataset['CO2 Emissions (g/km)'] = scaler.fit_transform(dataset[['CO2 Emissions (g/km)']])
# print(dataset[['CO2 Emissions (g/km)']].head())